.fade-show,.fade-hide{-webkit-transition:all linear 0.7s;-moz-transition:all linear 0.7s;-ms-transition:all linear 0.7s;-o-transition:all linear 0.7s;transition:all linear 0.7s}
.fade-show{opacity:0}
.fade-show-active{opacity:1}
.fade-hide{opacity:1}
.fade-hide-active{opacity:0}
.wire-one{font-family:'Wire One',sans-serif !important;font-size:7em !important}
@media (min-width:981px){body{padding-top:60px}}.center{margin:0 auto !important;float:none !important;text-align:center !important}
.addOrgModal .modal-body{max-height:800px}
