<div>
<h3>ADMIN CONSOLE</h3>

<div class="column-group">
    <div ng-controller="AdminAddUserCtrl" class="large-50">
        <fieldset>
            <legend><i class="foundicon-plus"></i> Add a User</legend>
            <form name="addUserForm" novalidate="novalidate">
                <div class="column-group">
                    <div class="large-20">
                        <label for="username">Username:</label>
                    </div>
                    <div class="large-80">
                        <input type="text" required ng-model="selected.newUser.username"
                               id="username"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-20">
                        <label for="email">Email:</label>
                    </div>
                    <div class="large-80">
                        <input type="email" required ng-model="selected.newUser.email"
                               id="email"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-20">
                        <label for="url">URL:</label>
                    </div>
                    <div class="large-80">
                        <input type="text" ng-model="selected.newUser.url" id="url"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-20">
                        <label for="password1">Password:</label>
                    </div>
                    <div class="large-80">
                        <input type="password" required
                               ng-model="selected.newUser.password1"
                               id="password1"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-20">
                        <label for="password2">Again:</label>
                    </div>
                    <div class="large-80">
                        <input type="password" required
                               ng-model="selected.newUser.password2"
                               id="password2"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-20">

                    </div>
                    <div class="large-80">
                        <div class="column-group">
                            <div class="large-60">
                                <div class="alert-box radius"
                                     ng-show="addedUser">
                                    Successfully added user <em>{{
                                                                addedUser
                                                                }}</em>.
                                </div>
                                <div class="alert-box radius alert"
                                     ng-show="mismatchedPasswords">
                                    Mismatched passwords!
                                </div>
                                <div class="alert-box radius alert"
                                     ng-show="registrationError">
                                    {{ registrationError }}
                                </div>
                            </div>
                            <div class="large-40">
                                <button ng-click="addUser()">Add User
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <div ng-controller="AdminUserListCtrl" class="large-50">
        <fieldset>
            <legend><i class="foundicon-address-book"></i> Users
            </legend>
            <div class="column-group">
                <table class="ink-table large-100">
                    <tr>
                        <th><a ng-click="setOrder('username')">Username</a>
                            <span ng-show="order === 'username'">&uarr;</span><span
                                    ng-show="order === '-username'">&darr;</span>
                        </th>
                        <th>
                            <a ng-click="setOrder('email')">Email</a><span
                                ng-show="order === 'email'">&uarr;</span><span
                                ng-show="order === '-email'">&darr;</span>
                        </th>
                        <th>
                            <a ng-click="setOrder('createdon')">Registered</a><span
                                ng-show="order === 'createdon'">&uarr;</span><span
                                ng-show="order === '-createdon'">&darr;</span>
                        </th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-show="!userlist">
                        <td colspan="4" class="text-center">
                            <img src="/images/ajax-loader.gif"/>
                        </td>
                    </tr>
                    <tr ng-show="userlist && !userlist.length">
                        <td colspan="4">
                            No users. There should be at least YOU here. You're
                            doing it wrong.
                        </td>
                    </tr>
                    <tr ng-repeat="user in userlist|orderBy:order">
                        <td>
                            <a data-reveal-id="viewUser" ng-click="view(user)">{{
                                                                               user.username
                                                                               }}</a>
                        </td>
                        <td>
                            <a data-reveal-id="viewUser" ng-click="view(user)">{{
                                                                               user.email
                                                                               }}</a>
                        </td>
                        <td>{{ user.createdon|date }}</td>
                        <td>
                            <a ng-click="edit(user)" data-reveal-id="viewUser"
                               title="Edit {{ user.username }}"><i
                                    class="foundicon-settings"></i></a> <span
                                ng-show="!user.admin"><a
                                ng-click="confirmDelete(user)"
                                title="delete {{ user.username }}"
                                data-reveal-id="confirmDelete"><i
                                class="foundicon-remove"></i></a></span>
                        </td>
                    </tr>
                </table>
            </div>

        </fieldset>

    </div>
</div>
<div class="column-group">
    <div ng-controller="AdminOrgListCtrl" class="large-50">
        <fieldset>
            <legend><i class="foundicon-globe"></i> Orgs
            </legend>
            <div class="column-group">
                <div class="large-100">
                    <a data-reveal-id="addOrg">Add Org</a>
                </div>
            </div>
            <div class="column-group">
                <table class="ink-table large-100">
                    <tr>
                        <th><a ng-click="setOrder('name')">Name</a>
                            <span ng-show="order === 'name'">&uarr;</span><span
                                    ng-show="order === '-name'">&darr;</span>
                        </th>
                        <th>
                            <a ng-click="setOrder('state')">State</a><span
                                ng-show="order === 'state'">&uarr;</span><span
                                ng-show="order === '-state'">&darr;</span>
                        </th>
                        <th>
                            <a ng-click="setOrder('contactEmail')">Email</a><span
                                ng-show="order === 'contactEmail'">&uarr;</span><span
                                ng-show="order === '-contactEmail'">&darr;</span>
                        </th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-show="!orglist">
                        <td colspan="4" class="text-center">
                            <img src="/images/ajax-loader.gif"/>
                        </td>
                    </tr>
                    <tr ng-show="orglist && !orglist.length">
                        <td colspan="4" class="text-center">
                            No orgs.
                        </td>
                    </tr>
                    <tr ng-repeat="org in orglist|orderBy:order">
                        <td>
                            {{ org.name }}
                        </td>
                        <td>
                            {{ org.state }}
                        </td>
                        <td>{{ org.contactEmail }}</td>
                        <td>
                            <a ng-click="edit(user)" data-reveal-id="viewUser"
                               title="edit {{ user.username }}"><i
                                    class="foundicon-settings"></i></a> <span
                                ng-show="!user.admin"><a
                                ng-click="confirmDelete(user)"
                                title="delete {{ user.username }}"
                                data-reveal-id="confirmDelete"><i
                                class="foundicon-remove"></i></a></span>
                        </td>
                    </tr>
                </table>
            </div>

        </fieldset>


    </div>
</div>
<reveal id="confirmDelete" class="small"
        on-closed="onCloseConfirmDelete()">
    <h4>Delete user "{{ selected.deleteUser.username }}"?</h4>

    <div class="column-group">
        <div class="large-100"><p>Are you sure you want
                                         to delete user "{{
                                         selected.deleteUser.username
                                         }}"
                                         ({{ selected.deleteUser.email
                                         }})?</p>
        </div>
    </div>

    <div class="column-group">
        <div class="large-100">
            <button class="ink-button" ng-click="cancelDeleteUser()">
                No!
            </button>
            <ladda-button ladda="deleteProgress" class="ink-button"
                          ng-click="delete(selected.deleteUser)">
                KILL
            </ladda-button>

        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</reveal>

<reveal id="viewUser" class="medium" on-closed="onCloseViewUser()">
    <div ng-controller="AdminEditUserCtrl">
        <h4 ng-show="toggles.userEditMode">Edit User</h4>
        <h4 ng-hide="toggles.userEditMode">View User</h4>
        <fieldset>
            <legend>{{ selected.viewUser.username }}</legend>
            <form name="editUserForm">
                <div class="column-group">
                    <div class="large-20">
                        <label for="editUserForm-email">Email:</label>
                    </div>
                    <div class="large-80">
                        <strong ng-hide="toggles.userEditMode"><a
                                ng-href="mailto:{{ selected.viewUser.email}}">{{
                                                                     selected.viewUser.email
                                                                     }}</a></strong>
                        <input id="editUserForm-email" type="email" required
                               ng-show="toggles.userEditMode"
                               ng-model="selected.editUser.email"/>
                    </div>
                </div>
                <div class="column-group" ng-show="selected.viewUser.url">
                    <div class="large-20">
                        <label for="editUserForm-url">URL:</label>
                    </div>
                    <div class="large-80">
                        <strong ng-hide="toggles.userEditMode"><a
                                ng-href="{{ selected.viewUser.url }}"
                                target="_blank">{{
                                                selected.viewUser.url
                                                }}</a></strong>
                        <input id="editUserForm-url" type="text"
                               ng-show="toggles.userEditMode"
                               ng-model="selected.editUser.url"/>
                    </div>
                </div>
                <div class="column-group"
                     ng-show="selected.viewUser.admin || toggles.userEditMode">
                    <div class="large-20">
                        <label for="editUserForm-admin">Admin:</label>
                    </div>
                    <div class="large-80">
                        <span ng-hide="toggles.userEditMode">YES</span>
                        <select id="editUserForm-admin"
                                ng-show="toggles.userEditMode"
                                ng-model="selected.editUser.admin">
                            <option value="true">YES</option>
                            <option value="false">NO</option>
                        </select>
                    </div>
                </div>
                <div class="column-group" ng-show="toggles.userEditMode">
                    <div class="large-20">
                        <label for="editUserForm-password1">New PW:</label>
                    </div>
                    <div class="large-80">
                        <input id="editUserForm-password1" type="password"
                               ng-model="selected.editUser.password1"/>
                    </div>
                </div>
                <div class="column-group" ng-show="toggles.userEditMode">
                    <div class="large-20">
                        <label for="editUserForm-password2">Again:</label>
                    </div>
                    <div class="large-80">
                        <input id="editUserForm-password2" type="password"
                               ng-model="selected.editUser.password2"/>
                    </div>
                </div>
                <div class="column-group">
                    <div class="large-100">
                        <a class="ink-button" ng-hide="toggles.userEditMode"
                           ng-click="toggles.userEditMode = true">Modify</a>
                        <a class="ink-button" ng-show="toggles.userEditMode"
                           ng-click="cancelEdit()">Cancel</a>
                        <ladda-button ladda="saveProgress"
                                      ng-show="toggles.userEditMode"
                                      ng-click="save(selected.editUser)">Save
                        </ladda-button>
                    </div>
                </div>
                <div class="alert-box alert" ng-show="saveUserFailure">
                    {{ saveUserFailure }}
                </div>
            </form>
        </fieldset>

        <a class="close-reveal-modal">&#215;</a>
    </div>
</reveal>
<reveal id="addOrg" class="medium">
    <div ng-controller="AdminAddOrgCtrl">
        <h4>Add Organization</h4>

        <schema-form form-name="addOrgForm" model="newOrg" schema-name="Org"></schema-form>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</reveal>
</div>
