<div class="row-fluid">
<div class="span12">

<header>
  <div class="row-fluid">
    <div class="span12">
      <h3>Admin Console</h3>
    </div>

  </div>
</header>

<div class="row-fluid">
<div class="span6">
  <div class="row-fluid">
    <div ng-controller="AdminAddUserCtrl" class="span12 well">
      <h4><i class="icon-smile"></i> Add User <a
          ng-click="toggles.collapseAddUser = !toggles.collapseAddUser"><i
          class="icon-caret-down" ng-hide="toggles.collapseAddUser"></i><i
          class="icon-caret-up" ng-show="toggles.collapseAddUser"></i></a></h4>

      <div collapse="toggles.collapseAddUser">
        <schema-form form-name="AddUserForm"
                     model="tmp.newUser" ng-submit="$parent.addUser()"
                     schema-name="User">
          <div class="control-group">

            <label class="control-label"
                   for="password1">Password: <span class="help-inline">*</span></label>

            <div class="controls">
              <input type="password" required
                     ng-model="tmp.newUser.password1"
                     id="password1"/>
            </div>
          </div>
          <div class="control-group">

            <label class="control-label"
                   for="password2">Again: <span class="help-inline">*</span></label>

            <div class="controls">
              <input type="password" required
                     ng-model="tmp.newUser.password2"
                     id="password2"/>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <ladda-button ladda="addUserProgress" ng-click="$parent.addUser()">Add User
              </ladda-button>
            </div>
          </div>
        </schema-form>
        <div class="row-fluid"
             ng-show="addedUser || mismatchedPasswords || registrationError">
          <div class="span12">

            <div class="alert"
                 ng-show="addedUser">
              Successfully added user <em>{{
              addedUser
              }}</em>.
            </div>
            <div class="alert alert-error"
                 ng-show="mismatchedPasswords">
              Mismatched passwords!
            </div>
            <div class="alert alert-error"
                 ng-show="registrationError">
              {{ registrationError }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row-fluid">
    <div ng-controller="AdminOrgListCtrl" class="span12 well">
      <h4 class="left"><i class="icon-globe"></i> Organizations <a
          ng-click="toggles.collapseOrgList = !toggles.collapseOrgList"><i
          class="icon-caret-down" ng-hide="toggles.collapseOrgList"></i><i
          class="icon-caret-up" ng-show="toggles.collapseOrgList"></i></a></h4><a class="right"
                                                                                  ng-click="openAddOrgDialog()">Add
      Org</a>
      <fieldset>
        <div class="row-fluid" collapse="toggles.collapseOrgList">
          <div class="center span12">
            <table class="table">
              <tr>
                <th><a ng-click="setOrder('name')">Name</a>
                  <span ng-show="order === 'name'"><i
                      class="icon-sort-by-alphabet"></i></span><span
                      ng-show="order === '-name'"><i
                      class="icon-sort-by-alphabet-alt"></i></span>
                </th>
                <th>
                  <a ng-click="setOrder('state')">State</a><span
                    ng-show="order === 'state'"><i
                    class="icon-sort-by-alphabet"></i></span><span
                    ng-show="order === '-state'"><i
                    class="icon-sort-by-alphabet-alt"></i></span>
                </th>
                <th>
                  EIN
                </th>
                <th>Actions</th>
              </tr>
              <tr ng-show="!orglist">
                <td colspan="4" class="text-center">
                  <progress percent="100"
                            class="progress progress-striped active"></progress>
                </td>
              </tr>
              <tr ng-show="orglist && !orglist.length">
                <td colspan="4" class="center">
                  No orgs.
                </td>
              </tr>
              <tr ng-repeat="org in orglist|orderBy:order">
                <td>
                  <a ng-click="openViewOrgDialog(org)">{{ org.name }}</a>
                </td>
                <td>
                  {{ org.state.name}}
                </td>
                <td>{{ org.ein|ein }}</td>
                <td>
                  <a ng-click="openEditOrgDialog(org)"
                     title="edit {{ org.name }}">
                    <i class="icon-edit"></i>
                  </a>

                  <a
                     ng-click="openConfirmDeleteOrgDialog(org)"
                     title="delete {{ org.name }}">
                    <i class="icon-remove"></i>
                  </a>

                </td>
              </tr>
            </table>
          </div>

        </div>

      </fieldset>

      <pagination boundary-links="true" num-pages="noOfPages"
                  current-page="currentPage"
                  class="text-center pagination-small"
                  previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"></pagination>

    </div>

  </div>
</div>
<div ng-controller="AdminJobListCtrl" class="span6 well">
  <h4><i class="icon-building"></i> Jobs <a
      ng-click="toggles.collapseJobList = !toggles.collapseJobList"><i
      class="icon-caret-down" ng-hide="toggles.collapseJobList"></i><i
      class="icon-caret-up" ng-show="toggles.collapseJobList"></i></a></h4>
  <fieldset>
    <div class="row-fluid" collapse="toggles.collapseJobList">
      <div class="center span12">
        <table class="table">
          <tr>
            <th><a ng-click="setOrder('username')">Headline</a>
              <span ng-show="order === 'username'"><i
                  class="icon-sort-by-alphabet"></i></span><span
                  ng-show="order === '-username'"><i
                  class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>
              <a ng-click="setOrder('org')">Org</a><span
                ng-show="order === 'org'"><i
                class="icon-sort-by-alphabet"></i></span><span
                ng-show="order === '-org'"><i
                class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>
              <a ng-click="setOrder('created.createdon')">Created</a><span
                ng-show="order === 'created.createdon'"><i
                class="icon-sort-by-alphabet"></i></span><span
                ng-show="order === '-created.createdon'"><i
                class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>Actions</th>
          </tr>
          <tr ng-show="!joblist">
            <td colspan="4" class="center">
              <progress percent="100"
                        class="progress progress-striped active"></progress>
            </td>
          </tr>
          <tr ng-show="joblist && !joblist.length">
            <td colspan="4">
              No jobs. Sad :(
            </td>
          </tr>
          <tr ng-repeat="job in joblist.slice(begin, end)|orderBy:order">
            <td>
              <a ng-click="">{{
                job.headline|truncate:20
                }}</a>
            </td>
            <td>
              <a><i
                  class="icon-envelope-alt"></i> {{
                job.org.name
                }}</a>
            </td>
            <td>{{ job.createdon|date }}</td>
            <td>
              <a ng-click="openEditUserDialog(user)"
                 title="Edit {{ user.username }}"><i
                  class="icon-edit"></i></a> <a
                ng-hide="user.admin"
                ng-click="openConfirmDeleteUserDialog(user)"
                title="delete {{ user.username }}"><i
                class="icon-remove"></i></a>
            </td>
          </tr>
        </table>
      </div>

      <pagination boundary-links="true" num-pages="noOfPages"
                  current-page="currentPage"
                  class="text-center pagination-small"
                  previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"></pagination>
    </div>
  </fieldset>

</div>
<div ng-controller="AdminUserListCtrl" class="span6 well">
  <h4><i class="icon-group"></i> Users <a
      ng-click="toggles.collapseUserList = !toggles.collapseUserList"><i
      class="icon-caret-down" ng-hide="toggles.collapseUserList"></i><i
      class="icon-caret-up" ng-show="toggles.collapseUserList"></i></a></h4>
  <fieldset>
    <div class="row-fluid" collapse="toggles.collapseUserList">
      <div class="center span12">
        <table class="table">
          <tr>
            <th><a ng-click="setOrder('username')">Username</a>
              <span ng-show="order === 'username'"><i
                  class="icon-sort-by-alphabet"></i></span><span
                  ng-show="order === '-username'"><i
                  class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>
              <a ng-click="setOrder('email')">Email</a><span
                ng-show="order === 'email'"><i
                class="icon-sort-by-alphabet"></i></span><span
                ng-show="order === '-email'"><i
                class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>
              <a ng-click="setOrder('createdon')">Registered</a><span
                ng-show="order === 'createdon'"><i
                class="icon-sort-by-alphabet"></i></span><span
                ng-show="order === '-createdon'"><i
                class="icon-sort-by-alphabet-alt"></i></span>
            </th>
            <th>Actions</th>
          </tr>
          <tr ng-show="!userlist">
            <td colspan="4" class="center">
              <progress percent="100"
                        class="progress progress-striped active"></progress>
            </td>
          </tr>
          <tr ng-show="userlist && !userlist.length">
            <td colspan="4">
              No users. There should be at least YOU here.
              You're
              doing it wrong.
            </td>
          </tr>
          <tr ng-repeat="user in userlist.slice(begin, end)|orderBy:order">
            <td>
              <a ng-click="openViewUserDialog(user)">{{
                user.username
                }}</a>
            </td>
            <td>
              <a ng-href="mailto:{{ user.email }}"><i
                  class="icon-envelope-alt"></i> {{
                user.email
                }}</a>
            </td>
            <td>{{ user.createdon|date }}</td>
            <td>
              <a ng-click="openEditUserDialog(user)"
                 title="Edit {{ user.username }}"><i
                  class="icon-edit"></i></a> <a
                ng-hide="user.admin"
                ng-click="openConfirmDeleteUserDialog(user)"
                title="delete {{ user.username }}"><i
                class="icon-remove"></i></a>
            </td>
          </tr>
        </table>
      </div>

      <pagination boundary-links="true" num-pages="noOfPages"
                  current-page="currentPage"
                  class="text-center pagination-small"
                  previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"></pagination>
    </div>
  </fieldset>

</div>

</div>

<div class="row-fluid">
</div>
<script type="text/ng-template" id="confirmDelete">
  <div class="modal-header"><h4>Delete user "{{ tmp.deleteUser.username
    }}"?</h4></div>

  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12"><p>Are you sure you want
        to delete user "{{
        tmp.deleteUser.username
        }}"
        ({{ tmp.deleteUser.email
        }})?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row-fluid">
      <div class="span12">
        <button ng-click="cancelDeleteUser()" class="btn">
          n/m
        </button>
        <ladda-button ladda="deleteProgress" class="btn-danger"
                      ng-click="deleteUser()">
          KILL
        </ladda-button>

      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="viewUser">
  <div class="modal-header">
    <h4 ng-show="toggles.userEditMode">Edit User</h4>
    <h4 ng-hide="toggles.userEditMode">View User</h4>
  </div>
  <div class="modal-body">

    <div ng-show="toggles.userEditMode">
      <schema-form form-name="editUserForm"
                   model="tmp.editUser"
                   schema-name="User">
        <div class="control-group">

          <label class="control-label"
                 for="password1">Password:</label>

          <div class="controls">
            <input type="password" required
                   ng-model="tmp.newUser.password1"
                   id="password1"/>
          </div>
        </div>
        <div class="control-group">

          <label class="control-label"
                 for="password2">Again:</label>

          <div class="controls">
            <input type="password" required
                   ng-model="tmp.newUser.password2"
                   id="password2"/>
          </div>
        </div>
      </schema-form>
    </div>
    <div ng-hide="toggles.userEditMode">
      <schema-form form-name="viewUserForm"
                   model="tmp.viewUser"
                   schema-name="User" read-only="true">
      </schema-form>
    </div>


  </div>
  <div class="modal-footer" ng-show="toggles.userEditMode">
    <div class="row-fluid">
      <div class="span12">
        <button ng-click="cancelEditUser()" class="btn">
          Cancel
        </button>
        <ladda-button ladda="editUserProgress"
                      class="btn-primary"
                      ng-click="saveUser(tmp.editUser)">
          Save
        </ladda-button>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-hide="toggles.userEditMode">
    <div class="row-fluid">
      <div class="span12">
        <button ng-click="toggles.userEditMode = true" class="btn">
          Edit
        </button>
        <button ng-click="cancelEditUser()" class="btn btn-primary">
          OK
        </button>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="addOrg">
  <div class="modal-header">
    <h4>Add Organization</h4>
  </div>
  <div class="modal-body">
    <schema-form form-name="addOrgForm" model="newOrg"
                 schema-name="Org"></schema-form>
  </div>
  <div class="modal-footer">
    <button ng-click="cancelAddOrg()" class="btn">
      Cancel
    </button>
    <ladda-button ladda="addOrgProgress"
                  class="btn-primary"
                  ng-click="addOrg(newOrg)">
      Save
    </ladda-button>
  </div>
</script>

<script type="text/ng-template" id="viewOrg">
  <div class="modal-header">
    <h4 ng-show="toggles.orgEditMode">Edit Organization</h4>
    <h4 ng-hide="toggles.orgEditMode">View Organization</h4>
  </div>
  <div class="modal-body">

    <div ng-show="toggles.orgEditMode">
      <schema-form form-name="editOrgForm"
                   model="tmp.editOrg"
                   schema-name="Org">
      </schema-form>
    </div>
    <div ng-hide="toggles.orgEditMode">
      <schema-form form-name="viewOrgForm"
                   model="tmp.viewOrg"
                   schema-name="Org" read-only="true">
      </schema-form>
    </div>

  </div>
  <div class="modal-footer" ng-show="toggles.orgEditMode">
    <div class="row-fluid">
      <div class="span12">
        <button ng-click="cancelEditOrg()" class="btn">
          Cancel
        </button>
        <ladda-button ladda="editOrgProgress"
                      class="btn-primary"
                      ng-click="saveOrg(tmp.editOrg)">
          Save
        </ladda-button>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-hide="toggles.orgEditMode">
    <div class="row-fluid">
      <div class="span12">
        <button ng-click="toggles.orgEditMode = true" class="btn">
          Edit
        </button>
        <button ng-click="cancelEditOrg()" class="btn btn-primary">
          OK
        </button>
      </div>
    </div>
  </div>
</script>
</div>
</div>
